<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <title>GoEnigma - Live, love, art and movement</title>
        {% load static %}
        <link rel = "styleSheet" type="text/css" href="{% static 'GoEnigma/EmusicStyle.css' %}">
    </head>
    <body>
        <div class = "wrapper">
            <div class = "titlePic">
                <img src="{% static 'GoEnigmaPics/BrandBarV2.jpg' %}" alt="GoEnigmaBrand">
                <!-- <img src="{% static 'GoEnigmaPics/trebleSign.jpeg' %}" alt="GoEnigmaBrand"> -->
            </div>
            <div class = "holder" > 
            
                <div class = "desc">
                    <div id = "eQuote">
                        <h2>{{qA}}<span><p>-{{authorA}}</p></span>
                        </h2>
                    </div>
                    <div class = "profile">
                        <p>{{title}}</p>
                        <div id = "pic">
                            <img src="{% static 'GoEnigmaPics/ProfilePhoto2.png' %}" alt="GoEnigmaBrand">
                        </div>
                    </div>
                    <div id = "quote">
                        <h2>{{qB}}<span><p>-{{authorB}}</p></span>
                        </h2>
                    </div>
                    <div id = "graph">
                        <p>{{desc}}</p>
                    </div>
                </div>
                        
                <div class = "content">
                    <div id = "player">
                        <iframe width="100%" height="400px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/675223670&color=%2300d1ff&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    </div>
                    <div id = "links">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/goenigma/">
                                    <img src="{% static 'GoEnigmaPics/facebookBigIcon.png' %}" alt="cat2">
                                    <img src="{% static 'GoEnigmaPics/facebookDark.png' %}" alt="cat2">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/goenigma/">
                                    <img src="{% static 'GoEnigmaPics/instagramIcon.png' %}" alt="cat2">
                                    <img src="{% static 'GoEnigmaPics/instagramIconDark.png' %}" alt="cat2">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="{% static 'GoEnigmaPics/youtubeIcon.png' %}" alt="cat2">
                                    <img src="{% static 'GoEnigmaPics/youtubeIconDark.png' %}" alt="cat2">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/goenigma">
                                    <img src="{% static 'GoEnigmaPics/twitterIcon.png' %}" alt="cat2">
                                    <img src="{% static 'GoEnigmaPics/twitterIconDark.png' %}" alt="cat2">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="{% static 'GoEnigmaPics/emailIcon.png' %}" alt="cat2">
                                    <img src="{% static 'GoEnigmaPics/emailIconDark.png' %}" alt="cat2">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <script type="text/javascript">
            $('.left').on('click', function() {
                $('#witnesses').animate({
                    scrollLeft: '-=150'
                }, 300, 'swing');
            });

            $('.right').on('click', function() {
                $('#witnesses').animate({
                    scrollLeft: '+=150'
                }, 300, 'swing');
            });
 
        </script>
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    </body>
</html>